HOST=127.0.0.1
PORT=3000
THEME=jsonresume-theme-even
# THEME=jsonresume-theme-elegant
# THEME=jsonresume-theme-eloquent
# THEME=jsonresume-theme-flat
# THEME=jsonresume-theme-flat-reordered
# THEME=jsonresume-theme-microdata
# THEME=@jsonresume/jsonresume-theme-class
